.EditStorePage{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.EditStoreContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.storeLogoandImageContainner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.StoreImageInput{
    display: flex;
    align-items: center;
    gap: 8px;
}
.StoreImageInput label{
    
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.7;
}
.saveStoreDetailContainner{
    margin-top: 20px;
    width: 100%;
    display: flex;
    padding: 9px;
    justify-content: end;
}


.DisplayStoreLogo,.DisplayStoreStoreImage{
    width: 200px;
    height: 150px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}
.DisplayStoreLogo img {
    width: 100%;
    object-position: center;
    height: 100%;
    object-fit: cover;
     border-radius: 8px;
}
.DisplayStoreStoreImage img{
    width: 100%;
    object-position: center;
    height: 100%;
    object-fit: cover;
     border-radius: 8px;
}

@media (max-width : 1270px){
    .storeLogoandImageContainner{
    display: flex;
  flex-direction: column;
    width: 100%;
    margin-top: 40px;
    gap: 30px;
}

}

@media(max-width:1170px){
    .EditStoreContainer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 20px;
    column-gap: 20px;
}
}

@media(max-width:400px){
    .StoreImageInput{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}
}