.EditPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    
}
.EditOptionsDiv{
    width: 100%;
    display: flex;
   align-items: center;
   gap: 30px;
    padding: 10px;
}
.EditProductsContainner{
  
    width: 280px;
    display: flex;
    padding: 6px;
    border-radius: 12px;
    height: 90px;
    flex-direction: column;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: black;
}
.EditProductsContainner:hover{
    border: 1px solid black;
}
.IconRowContainner{
    width: 100%;
    padding: 4px;
    display: flex;
}
.EditnameContainner{
    display: flex;
    justify-content: center;
    padding: 3px;
}
.EditnameContainner p{
font-family: "Poppins", sans-serif;
cursor: pointer;
font-weight: 600;
}

.EditFormContainner{
    width: 100%;

    display: flex;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    row-gap: 20px;
    column-gap: 20px
}