.DashBoardPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.DashBoardInfoBox{
    display: flex;
    width: 100%;
    padding: 13px;
    gap: 35px;
}
.StoreStaticContainner{
    display: flex;
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    gap: 35px;
}
.DashBoardAllOrderContainner{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 15px;
    margin-top: 15px;
    gap: 15px;
    cursor: pointer;
}
.GoLiveContainner{
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: end;
    padding: 10px;
}

.NoOrderFound{
    width: 100%;
    display: flex;
    justify-content: center;
      font-family: "Poppins", sans-serif;
}
