.ProductListContainner{
  display: flex;
    width: 100%;
    column-gap:30px;
    align-items: center;
   padding-bottom: 4px;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
}
.AllInOneContainner{
    display: flex;
    align-items: center;

}
.PLogoandNameContainner{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.QtyInputDisplay{
    display: flex;
    width: 100%;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
}
.QtyInputDisplay input{
    width: 40%;
    border: none;
    outline: none;
    background-color: white;
}
.priceLableCOntainner{
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
}
.priceLableCOntainner input{
    width: 40%;
    border: none;
    background-color: white;
    outline: none;
}
.ProductListContainner label{
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
}
.ProductListContainner input:first-child{
    width: 40px;
    padding: 8px;
    font-weight: 600;
    outline: none;
    border: none;
}
.priceINPUT{
    width: 60px;
    border: none;
    margin-right: 10px;
    padding: 8px;
    font-weight: 600;
}

.EditContainner{
    position: relative;
}
.EditContainner ul{
    position: absolute;
    top: 2%;
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.EditContainner ul li{
    margin-top: 4px;
      font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
}
.EditContainner ul li:hover{
    cursor: pointer;
    opacity: 0.7;
}

@media(max-width:750px){
  .ProductListContainner{
  display: flex;
    width: 100%;
    column-gap:30px;
    align-items: center;
   padding-bottom: 4px;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
    flex-direction: column;
    gap: 24px;
  }
  .PLogoandNameContainner{
    display: flex;
    justify-content: space-between;
  }
}

@media(max-width:350px){
    .AllInOneContainner{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.EditContainner {
    position: relative;
    width: 100%;
    /* justify-content: flex-end; */
    display: flex;
    justify-content: flex-end;
}
}