.DashBoardInfoContainner{
    display: flex;
    width: 120px;
    padding: 10px;
    border-radius: 8px;
    background-color: whitesmoke;
    cursor: pointer;
}
.DashBoardInfoContainner h6{
    font-family: "Poppins", sans-serif;
    color: #757575;
}

.selectedButton{
     display: flex;
    width: 120px;
    padding: 10px;
    border-radius: 8px;
    background-color: whitesmoke;
    cursor: pointer;
    border: 1px solid black;
}

.selectedButton h6{
    color: black;
    font-family: "Poppins", sans-serif;
}