.AddProductComponent{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 11px;
    margin-top: 20px;
   overflow-x: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.AddProductComponent::-webkit-scrollbar{
    display: none;
}


.Accordian{
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    
}
.Accordian p{
    font-weight: 600;
    font-size: 18px;
       font-family: "Poppins", sans-serif;
}
.ProductForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding: 9px;
}
.ProductForm input{
    padding: 13px;
    font-weight: 500;
    border-radius: 9px;
    border: none;
    border: 1px solid #ccc;
    outline: none;
}
.SubProductContainners{
    display: flex;
    flex-direction: column;
    width: 100%;
 
    margin-top: 20px;
    padding: 8px;
}
.AddSubProductButton{
    width: 100%;
    display: flex;
    justify-content: end;

    padding: 8px;
}