.ProfileContainner{
    display: flex;
    width: 100%;
    background-color: none;
    flex-direction: column;
    padding: 14px;
}
.ProfileFormContainner{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 65px;
    column-gap: 15px;
}

